@import 'vars';
@import 'mixins';

.hero {
  position: relative;
  padding-bottom: 51px;
  background-image: linear-gradient(60deg, #21c3d8 20%, #13d2c2 40%, #01f17d 75%);
  .container {
    @include desktop {
      padding: 0 200px;
    }
  }
  &-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 120px;
    }
  }
  &-title {
    max-width: 315px;
    margin: 0 auto;
    padding: 75px 0 62px;
    color: #fff;
    font-family: 'Actor', sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    @include tablet {
      max-width: 510px;
      padding: 120px 0 0;   
    } 
    @include desktop {
      font-size: 110px;
      line-height: 130px;
      letter-spacing: 2px;
      padding: 160px 0 0;
      max-width: 1110px;
      padding-bottom: 0;
    }
  }
  &-text {
    position: relative;
    max-width: 290px;
    width: 100%;
    margin-top: 31px;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    text-shadow: $hero-text-shadow;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -30px;
      width: 2px;
      height: 145px;
      box-shadow: $hero-text-shadow;
      background-color: $bg-color-primary;
      @include tablet {
        height: 90px;
      } 
      @include desktop {
        width: 2px;
        height: 105px;
      }
    }
    @include tablet {
      max-width: 510px;
    } 
    @include desktop {
      max-width: 670px;
      font-size: 20px;
      line-height: 26px;
      margin-top: 0;
    }
  } 
  .button-wrapper {
    max-width: 208px;
    width: 100%;
    margin: 0 auto;
    .button {
      @include desktop {
        border: none;
      }
    }   
    @include desktop {
      margin: 0;
    }
  }
  &-button {
    width: 100%;
    background: $button-bg-light;
    box-shadow: $button-box-shadow;
    margin-top: 30px;   
  } 
  @include desktop {
    padding-bottom: 100px;
  }
}