@import 'vars';
@import 'mixins';

.plans {
  position: relative;
  margin-top: -255px;
  &-title {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    @include desktop {
      font-size: 42px;
      line-height: 54px;
    }
  }
  @include widescreen {
    margin-top: -350px;
  }
}
.plans-card-inner {
  padding: 0 13px;
  @include tablet {
    display: flex;
    padding: 0;
  }
  @include desktop {
    justify-content: space-between;
    padding: 0; 
    margin: 70px auto 0;
  }
  .slick-list {
    padding: 0 50px 20px 0;
  }
}
.plans-card {
  position: relative;
  width: 100%;
  margin: 30px 13px 0 0;
  padding: 35px 25px;
  background: #fff;
  box-shadow: $button-box-shadow;
  border-radius: 5px; 
  transition: transform 0.3s ease;
  transform: scaleY(1);
  &:hover {
    @include desktop {
      background-image: $img-bg-card;
      transform:  scaleY(1.1);
    }
  }
  @include desktop {
    padding: 42px 55px;
    margin-right: 40px;
    background-color: #fff;
  }
  .card-title {
    color: $brandColor;
    font-family: $font-title, ;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include desktop {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 2.25px;
    }
  }
  .plans-button {
    text-align: center;
  }
  .button-request {
    display: inline-block;
    margin: 0 auto;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $brandColor;
    background: $button-bg-light;
    border: 1px solid $brandColor;
    box-shadow: $button-box-shadow;
    border-radius: 20px;
    padding: 8px 18px;  
    transition: .3s ease-in-out;
    &:hover {
      color: #7f7f7f;
    }
    @include tablet {
      padding: 8px 6px;
    }
  }
  &-list {
    margin-top: 30px;
    @include desktop {
      width: 100%;
      margin-top: 40px;
      padding-left: 0;
      transition: all 0.5s ease-in-out;
    }
  }
}
.card-item-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}
.card-item {
  position: relative;
  margin-left: 20px;
  color: $color-description-text;
  font-size: 13px;
  line-height: 24px;
  @include tablet {
    font-size: 10px;
  }
  &-minus {
    color: #e5e5e5;
  }
  @include desktop {
    font-size: 13px;
  }
}
.check-icon {
  position: relative;
  display: inline-block;
  padding: 15px;
  background: transparent;
  border: 2px solid $brandColor;
  border-radius: 50%;
  &::before {
    content: "";
    width: 2px;
    background: $brandColor;
    height: 9px;
    position: absolute;
    top: 14px;
    transform: rotate(138deg);
    left: 9px;
  }
  &::after  {
    content: "";
    width: 2px;
    background: $brandColor;
    height: 18px;
    position: absolute;
    top: 7px;
    transform: rotate(-138deg);
    left: 18px;
  }
}
.minus-icon {
  position: relative;
  display: inline-block;
  padding: 15px;
  background: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  &::before { 
    content: "";
    width: 18px;
    background: #e5e5e5;
    height: 2px;
    position: absolute;
    top: 14px;
    left: 6px;
  }
}
.plans-card-plus {
  @include tablet {
    margin-right: 0;
  }
}
@include desktop {
  .plans-card:hover .card-item {
      color: #fff;
  }
  .plans-card:hover .check-icon,
  .plans-card:hover .minus-icon {
    border: 2px solid #fff;
    padding: 14px 15px;
    &::after,
    &::before {
      background: #fff;
    }
  }
  .plans-card:hover .card-title {
    color: $color-title;
  }
}
